## development and tests
pycodestyle
transifex-client


## habitatOS.server
django==1.11.6
django-grappelli==2.10.1
django-devutils
django-import-export
django-rest-swagger
django-storages
djangorestframework
gunicorn
psycopg2
dj-database-url
Pillow
plotly
# pylibmc


## habitatOS client
requests
requests_oauthlib