## development and tests
pep8
transifex-client


## HabitatOS.server
django==1.11.5
django-grappelli==2.10.1
gunicorn
psycopg2
dj-database-url
Pillow
# pylibmc
django-import-export
django-rest-swagger
djangorestframework
plotly